{% extends 'app.html.twig' %}

{% block head_style %}
    {{ parent() }}
{% endblock %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}
    <div class="row" style="margin-top: 15em">
            <canvas id="country" height="357" width="716" style="width: 573px; height: 286px;"></canvas>

    </div>
   
{% endblock %}




{% block foot_script %}
    {{ parent() }}
    <script src="/js/chart.js"></script>
    <script>
        var ctx = document.getElementById("country");
        var mybarChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{{ country|raw }}],
                datasets: [{
                    label: "Total No. of visitors",
                    backgroundColor: "rgba(38, 185, 154, 0.31)",
                    borderColor: "rgba(38, 185, 154, 0.7)",
                    pointBorderColor: "rgba(38, 185, 154, 0.7)",
                    pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
                    pointHoverBackgroundColor: "#fff",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointBorderWidth: 1,
                    data: [{{ count|raw }}]
                }]
            },
        });
    </script>
{% endblock %}