{% extends 'app.html.twig' %}

{% block head_style %}
    {{ parent() }}
{% endblock %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}
    <div class="row" style="margin-top: 15em">
        <div class="col-md-12">
        </div>
    </div>
{% endblock %}

{% block foot_script %}
    {{ parent() }}
{% endblock %}