{% extends 'app.html.twig' %}

{% block head_style %}
    {{ parent() }}
{% endblock %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}
    <div class="row" style="margin-top: 15em">
            <canvas id="country" height="357" width="716" style="width: 573px; height: 286px;"></canvas>
    </div>
{% endblock %}
<!-- hello -->
<!-- hello -->
<!-- hello -->



{% block foot_script %}
    {{ parent() }}
    <script src="/js/chart.js"></script>
    <script>
        var ctx = document.getElementById("country");
        var mybarChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Mark", "February", "March", "April", "May", "June", "July"],
                datasets: [{
                    label: "Date",
                    backgroundColor: "rgba(38, 185, 154, 0.31)",
                    borderColor: "rgba(38, 185, 154, 0.7)",
                    pointBorderColor: "rgba(38, 185, 154, 0.7)",
                    pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
                    pointHoverBackgroundColor: "#fff",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointBorderWidth: 1,
                    data: [31, 74, 6, 39, 20, 85, 7]
                }, {
                    label: "Month",
                    backgroundColor: "rgba(3, 88, 106, 0.3)",
                    borderColor: "rgba(3, 88, 106, 0.70)",
                    pointBorderColor: "rgba(3, 88, 106, 0.70)",
                    pointBackgroundColor: "rgba(3, 88, 106, 0.70)",
                    pointHoverBackgroundColor: "#fff",
                    pointHoverBorderColor: "rgba(151,187,205,1)",
                    pointBorderWidth: 1,
                    data: [82, 23, 66, 9, 99, 4, 2]
                }]
            },
        });
    </script>
{% endblock %}