{% extends 'app.html.twig' %}

{% block head_style %}
    {{ parent() }}
{% endblock %}

{% block page_title %}<i class="icon_profile"></i> My Profile{% endblock %}

{% block breadcumb %}
    <li><i class="icon_profile"></i><a href="#"> My Profile</a></li>
    <li><i class="fa fa-key"></i> Change Password</li>
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}

{% block foot_script %}
    {{ parent() }}
{% endblock %}